.container {
    /* Centra horizontalmente */
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
  }

.conjunto{
    display:flex;
    align-items:center;
    padding:50px;
}

.porcentajes{
    display:flex;
    justify-content:center;
}